
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'header';
  src: url('https://cdn.glitch.global/bd293175-619c-40b5-82fd-e66ca60679e1/Gibberesque.ttf?v=1729658184300');
}

body {
  background: #1c1959;
  background-image: url("https://cdn.glitch.global/bd293175-619c-40b5-82fd-e66ca60679e1/starfield.png?v=1729660179724");
  color: white;
  float: center;
  font-family: sans-serif;
}


h1 {
  font-family: 'header';
  font-size: 200%;
}


.box {
  background: #1c1959;
  border-radius: 5px;
  max-width: 400px;
  display: block;
  padding: 20px;
  margin: 10px;
}

.icon {
  width: 15px;
  height: 15px;
}


.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.link {
  
  
  border-radius: 2000px;
  color: white;
  text-decoration: none;
  background: #5364b5;
  padding: 8px;
  font-size: 80%;
  margin-bottom: 5px;
  
  display: inline-block;
}

.link:hover {
  filter: brightness(110%);
  outline: 1px solid white;
}



@media all and (max-width:500px) {
  .box {
    width: 90%;
  }
  
  img {
  width: 90%;
  }
}